:root {
    --comp: 100vw / 500;
}

body {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0 calc(var(--comp) * 10);
}

/* ストップウォッチ */
.stopwatch {
	position: relative;
	background: url(../img/stopwatch.png) no-repeat left top/contain;
	width: min(calc(var(--comp) * 480), 480px);
	height: min(calc(var(--comp) * 480), 480px);
}

/* カウント表示部 */
.stopwatch__count {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: min(calc(var(--comp) * 70), 70px);
	line-height: 1;
}

.stopwatch__ms {
	font-size: min(calc(var(--comp) * 50), 50px);
}

/* スタートボタン */
.stopwatch__start {
	width: min(calc(var(--comp) * 100), 100px);
	height: min(calc(var(--comp) * 100), 100px);
	position: absolute;
	top: 0;
	right: 0;
}

/* リセットボタン */
.stopwatch__reset {
	width: min(calc(var(--comp) * 100), 100px);
	height: min(calc(var(--comp) * 100), 100px);
	position: absolute;
	top: 0;
	left: 0;
}
