@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .note {
    background-color: #fff;
    background-image: linear-gradient(180deg, #e5e7eb 1px, transparent 1px);
    background-size: 100% 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
  }
  .note02 {
    background-color: #fff;
    background-image: linear-gradient(180deg, #e5e7eb 1px, transparent 1px);
    background-size: 100% 2rem;
    line-height: 2rem;
    font-size: 1rem;
  }
  .shadow-round {
    box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
  }
  .marker {
    background: linear-gradient(transparent 70%, #FFE600 70%);
  }
}
